[package]
name = "pithos_pyo3"
description = "Client for the Pithos object storage file format"
version = "0.5.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
pithos_lib = { path = "../pithos_lib", version="0.5.0"}